
body{
	font-size: 14px;
    color: #3e3e3e;
	overflow-x: hidden;
    font-family:Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}


/*====================================header=======================================*/
header{height:48px;width:100%;background:#333;}
header>div>ul{height:100%;line-height:48px;}
header>div>ul>li{height:100%;}
header>div>ul>li a{border-left:1px solid #aaa;padding:0 15px;color:#eee}
header>div>ul>li:nth-of-type(1){padding-right:15px}
header>div>ul>li:nth-of-type(1) a{border:0;padding:0}
header>div>ul>li:nth-of-type(1) span:nth-of-type(1){padding-right:5px}
header>div>ul>li:nth-of-type(3) .iconfont{font-size:18px;line-height:50%;margin-right:3px;}

/*=====================================nav======================================*/
nav{width:100%;height:54px;padding-top:22px;border: 1px solid #e7e7e7;}
nav>div{height:100%;position:relative;}
nav>div>h1{width:123px;height:51px;}
nav>div>h1>img{width:100%;}
nav>div>ul{height:51px;margin-left:140px;}
nav>div>ul>li{height:100%;margin-right:33px;}
nav>div>ul>li>a{display:block;font-size:18px;color:#666;transition:color .2s ease;line-height: 55px;}
nav>div>div{width:296px;height:32px;margin-right:55px;margin-top:10px}
nav>div>div>input{
					width:100%;
					height:31px;
					border:0;
					border-bottom:1px solid #eee;
					padding-left:8px;
					color:#aaa;
					transition: all .2s;
				}
nav>div>div>input::-webkit-input-placeholder{color:#000;}

nav>div>a{position:absolute;right:5px;top:15px;}
nav>div>a>i{font-size:24px;}



/*=====================================这是鼠标滑动时候nav固定的样式======================================*/
#nav-scroll{width:100%;height:56px;padding-top:0px;display:none;background:#fff;z-index: 10;border-bottom: 1px solid #e7e7e7;}
#nav-scroll>div{height:100%;}
#nav-scroll>div>h1{width:123px;height:51px;}
#nav-scroll>div>.list-pick-goods{margin-left:10px;height: 100%;}
#nav-scroll>div>.list-pick-goods span{display:block;
							border:1px solid #ccc;
							width:60px;
							height:30px;
							line-height:30px;
							background:url(../img/css.png) 36px -1662px;
							color:#666;
							font-size:14px;
							font-weight:100;
							padding-left:8px;
							margin: 12px auto;
						}

#nav-scrollnav>div>h1>img{width:100%;height:100%;}
#nav-scroll>div>ul{height:56px;margin-left:63px;line-height: 56px;}
#nav-scroll>div>ul>li{height:100%;margin-right:33px;}
#nav-scroll>div>ul>li>a{display:block;border-radius:10px;font-size:18px;color:#666}
#nav-scroll>div>div{width:296px;height:32px;margin-right:55px;margin-top:10px}
#nav-scroll>div>div>input{
	width:100%;
	height:31px;
	border:0;
	border-bottom:1px solid #999;
	padding-left:8px;
	color:#777;
	}
#nav-scroll>div>a{
	position:absolute;
	right:5px;
	top:15px;
}
#nav-scroll>div>a>i{font-size:24px;}








/*----------------这个是鼠标移到窗口固定的导航上时，li里面的商品列表------------------*/
aside{display:none;width:221px;height:358px;background:#845f3f;text-align:left;position:relative;z-index: 10;}
aside>ul{margin-top:8px;}
aside>ul>li{height:37px;width:191px;line-height:37px;padding-left:30px;}
aside>ul>li>div{display:none;width:797px;height:316px;background:#f3f0e9;position:absolute;left:221px;top:0px;z-index: 6;border:1px solid #ccc;padding: 20px 30px;overflow: scroll;}
aside>ul>li:hover>div{display: block;}




aside>ul>li>div>ul>li{line-height:40px;width:195px;height:40px;float:left;margin-bottom:30px;}
aside>ul>li>div>ul>li>a>img{width:40px;height:40px;float:left;margin-right:15px;}
aside>ul>li>div>ul>li>a>span{float:left;color:#333;}



aside>ul>li:hover{background:#684b34;}

aside>ul>li>span>a{color:#f1ede9;}
aside>ul>li>span>a:hover{color:#e4af82;}

aside>ul>li>span>span{color:#f1ede9;}







/*=========================================adShow===========================================*/
div#adShow{background:#fff;height:350px;width:81px;position:fixed;right:10px;top:35%; box-shadow:2px 2px 20px #aaa;z-index:6;}
div#adShow>ul{height:100%;width:100%;text-align:center;}
div#adShow>ul>li{height: 53px;width:81px;padding-top:17px;position: relative;}
div#adShow>ul>li:hover>a{color:#842a1a}
div#adShow>ul>li>a{display: block;width:61px;height:100%;margin:auto;border-bottom:1px solid #ccc;}
div#adShow>ul>li>a>i{font-size:24px;}
div#adShow>ul>li>a>p{font-size:12px;margin-top:5px}
div#adShow>ul>li:nth-of-type(5)>a{border:0;}

/*---------鼠标移到侧边ad上的li上，提示的信息*/
div#adShow>ul>li>div{background:#fff;position:absolute;top:0;right:90px;display:none;padding:10px;z-index:5;border:1px solid #dfdfdf;}
div#adShow>ul>li:hover>div{display:block;}
div#adShow>ul>li:nth-of-type(1)>div{width:194px;height:234px;padding:10px 18px}
div#adShow>ul>li:nth-of-type(1)>div>p{color:#333;font-size:12px;width:100%;text-align:center;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(1){margin-top:8px;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(2){margin-top:15px;color:#845f3f;font-size:20px;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(4){margin-top:18px;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(5){margin-top:15px;color:#845f3f;font-size:20px;}

div#adShow>ul>li:nth-of-type(2)>div{width:130px;height:132px;}
div#adShow>ul>li:nth-of-type(2)>div>img{display:block;width:88px;height:88px;margin:0 auto 10px;}

div#adShow>ul>li:nth-of-type(3)>div{width:190px;height:306px;}
div#adShow>ul>li:nth-of-type(3)>div>img{display:block;}
div#adShow>ul>li:nth-of-type(3)>div>img:nth-of-type(1){width:190px;height:152px;margin:auto}
div#adShow>ul>li:nth-of-type(3)>div>img:nth-of-type(2){width:105px;height:105px;margin:15px auto}

div#adShow>ul>li:nth-of-type(4)>div{width:190px;height:164px;}
div#adShow>ul>li:nth-of-type(4)>div>img{display:block;width:120px;height:120px;margin:0 auto 10px;}
div#adShow>ul>li:nth-of-type(4)>div>p{font-size:12px}

/*-------------------------商品详情页展示-------------------------*/
.goods-show{
height:543px;

margin-bottom:67px;
padding-top:60px;

}

.img-show{
	margin-right: 46px;
    width: 465px;
    height: 433px;


}
.img-show .big-Img{
	width: 366px;
    height: 431px;
    background-color: #f4f4f4;
    border:1px solid #ececec;
    position: relative;

}
.img-show .big-Img img{
	border:none;
	width: 100%;
    height: 100%;
    vertical-align: middle;
}
.img-show .small-Img{
	width: 85px;
    height: 100%;
    position: relative;
    overflow: hidden;
	cursor:pointer;
}
.img-show .small-Img:hover>span{display: block;}

.img-show .small-Img span{
	display: inline-block;
	position:absolute;
	width:85px;
	height:16px;
	display: none;

}

.img-show .small-Img .Top{
	top:0;
	left:0;
	background: url(../img/top.png) no-repeat center;
	background-size: contain;

}

.img-show .small-Img .Bottom{
	bottom:0;
	left:0;
	background: url(../img/bottom.png) no-repeat center;
	background-size: contain;
}

.img-show .small-Img .box-img-slider{
	position: absolute;
    top: 0;
    left: 0;
    transition: top .8s ease;
}

.img-show .small-Img .box-img-slider div{
	border-color:#fff;
	width: 83px;
    height: 98px;
    margin-bottom: 11px;
    background-color: #f4f4f4;
  /*  box-sizing: border-box;*/
    border-style: solid;
    border-width: 1px;

    transition: border 1s cubic-bezier(0,1,.5,1);
}

.img-show .small-Img .box-img-slider div img{
	width: 100%;
    height: 100%;
    vertical-align: middle;
    /*border: none;*/
   /* box-sizing: border-box;*/
}

.introduce-product{
	width: 561px;
	height:543px;

}

.introduce-product>h3{
		margin-bottom: 4px;
		vertical-align: middle;
	    line-height: 26px;
	    font-size: 20px;
	    color: #333;
	    font-weight:100
}
.introduce-product>p:nth-of-type(1){
	width: 84%;
    line-height: 18px;
    font-size: 12px;
    color: #999;

}
.introduce-product>p:nth-of-type(2){
	margin: 16px 0;

}
.introduce-product>p:nth-of-type(2) a:nth-of-type(1){
	padding:0 5px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #c00002;
    color: #c00000;
    margin-right: 6px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

}
.introduce-product>p:nth-of-type(2) a:nth-of-type(2){
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 12px;
    height: 18px;

}

.introduce-product .card-show{
	margin-bottom: 26px;
    padding-top:20px;
    background-color: #f9f9f9;
    width:541px;
    height:121px;

}

.introduce-product .card-show .money-show{
	height:35px;
	padding-left:10px;

}

.introduce-product .card-show .money-show p{
	font-size:12px;
	line-height:28px;
	position: relative;


}
.introduce-product .card-show .money-show p span:nth-of-type(1){
	font-size:14px;
	color:#c00000;
	margin-left:25px;
	position: absolute;
	top:3px;
	left:32px;
}
.introduce-product .card-show .money-show p span:nth-of-type(2){
	font-size:30px;
	color:#c00000;
	position: absolute;
	left:70px;
}
.introduce-product .card-show .server-show{
	margin-top:15px;
	width:520px;
	height:48px;
	margin-bottom: 12px;
    vertical-align: bottom;
    line-height: 24px;
    font-size: 16px;
	padding-left:10px ;
}
.introduce-product .card-show .server-show .sev{
	width: 55px;
	height:48px;
	font-size:12px ;
	line-height: 30px;
	position: relative;

}
.introduce-product .card-show .server-show .sev span:nth-of-type(2){
	border:1px solid #c00000;
	border-radius:50%;
	width:10px;
	height:10px;
	display: inline-block;
	text-align: center;
	font-size:6px;
	line-height: 10px;
	position: absolute;
	top:9px;
	left:28px;
	color:#c00000;

}

.introduce-product .card-show .server-show .icon-p span{
	height:24px;
	display: inline-block;

}
.introduce-product .card-show .server-show .icon-p span a{
	background: url(../img/shopping-Cart.png) no-repeat;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    margin:0px 5px;
    width: 18px;
    height: 18px;
    background-position:0 -215px;
}

.introduce-product .card-show .server-show .icon-p2 span a{
	background: url(../img/shopping-Cart.png) no-repeat;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    margin:0px 5px;
    width: 18px;
    height: 18px;
    background-position:0 -215px;
}

.introduce-product .area-post{
	overflow: hidden;
    padding: 25px 0px;

}
.introduce-product .area-post p{
	width:58px;
	padding-right:10px;
}
.introduce-product .area-post span{
	margin-right:10px;

}

.introduce-product .list-color{

    padding: 0 10px;

    height:46px;

}
.introduce-product .list-color p{
    margin-right: 10px;
    width:48px;
    float: left;
    font-size: 12px;
    line-height: 32px;
    vertical-align: bottom;
}
.introduce-product .list-color .color-select{
    float: left;
    width:453px;
    overflow: hidden;
	height:100%;

}
.introduce-product .list-color .color-select div{
	text-align: center;
	vertical-align: middle;
	line-height:32px;
	height:32px;
	border: 1px dashed #d6d6d6;
	margin-right: 14px;
	transition: all .5s cubic-bezier(0,1,.5,1);
	box-sizing: border-box;
	cursor:pointer;
}
.introduce-product .list-color .color-select div:nth-of-type(1){
	width:84px;
}
.introduce-product .list-color .color-select div:nth-of-type(2){
	width:70px;
}
.introduce-product .list-color .color-select div:nth-of-type(3){
	width:70px
}
.introduce-product .list-level{
	width:561px;
	height:32px;
	margin-bottom: 26px;

}
.introduce-product .list-level p{
    margin-right: 10px;
    width:48px;
    float: left;
    font-size: 12px;
    height:100%;
	line-height:30px;
	padding-left:10px

}
.introduce-product .list-level{
	height:30px;
	width:400px
}

.introduce-product .list-level .level{
	width:400px;
	height:30px;
	line-height:30px;

}
.introduce-product .list-level .level div{
	width:114px;
	height:100%;
	box-sizing:border-box;
	border:1px dashed #845f3f;
	margin-right:14px;
    box-sizing:border-box;
    padding:4px 20px;
    color: #845f3f;
    line-height: 22px;
    text-align:center;
    transition:all .5s cubic-bezier(0,1,.5,1);
    user-select: none;
    cursor:pointer;
}

.introduce-product .list-num{
	overflow: hidden;
    margin-bottom: 40px;
    width:561px;
    height:32px;

}
.introduce-product .list-num p{
    margin-right: 10px;
    width:48px;
    float: left;
    font-size: 12px;
    height:100%;
	line-height:30px;
	padding-left:10px;

}
.introduce-product .list-num .num-Count{
	width:300px;
	height:32px;


}
.introduce-product .list-num .num-Count .calculate span:nth-of-type(1){
	width: 28px;
	height:30px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	border:1px solid #ccc;
	cursor: pointer;
}

.introduce-product .list-num .num-Count .calculate .num-add-del{
	width: 60px;
	height:30px;
	font-weight: 600;
	border:1px solid #d6d6d6;
	border-left:0;
	border-right:0;
	text-align: center;
	line-height: 30px;

}

.introduce-product .list-num .num-Count .calculate span:nth-of-type(2){
	width: 28px;
	height:30px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	border:1px solid #d6d6d6;
	cursor: pointer;
}


.introduce-product .btn-link{
	width:561px;
	height:52px;

}

.introduce-product .btn-link .btn a{
	display: inline-block;
	width:167px;
	height:52px;
	margin-left:7px;
	margin-right:5px;
	text-align: center;
	line-height:52px;
	font-size:20px;
    color:#845f3f;
    border-radius:4px;
    border:1px solid #845f3f;
    box-sizing: border-box;
    padding: 0 6px;
    transition: all .8s cubic-bezier(0,1,.5,1);

}

.introduce-product .btn-link .btn a:nth-of-type(1){
	background: #fff;
}
.introduce-product .btn-link .btn a:nth-of-type(1):hover{
	background: #845f3f;
	color: #fff;
}


.introduce-product .btn-link .btn a:nth-of-type(2){
	background: #845f3f;
	color:#fff;
}
.introduce-product .btn-link .btn a:nth-of-type(2):hover{
	opacity: .6;
	background: #845f3f;
}

.introduce-product .btn-link .Collection{

    width: 50px;
    height: 50px;
	margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #999;
    line-height: 12px;
    text-align:center;
    font-size:12px;
    transition: all .8s cubic-bezier(0,1,.5,1);
}



.introduce-product .btn-link .Collection a{
	background: url(../img/shopping-Cart.png) no-repeat;
	width:30px;
	height:30px;
	background-position: 0 -880px;
	display: inline-block;
}

.introduce-product .btn-link .Collection:hover{
	background-color:#845f3f;
	border-color: #845f3f;
	color:#fff;
}

.introduce-product .btn-link .Collection:hover a{
	background-position-y:-1696px;
}





.introduce-product .btn-link .service{
	margin: 0 5px;
    width: 50px;
    height: 50px;

    border: 1px solid #ccc;
    border-radius: 2px;
    color: #999;
    line-height: 12px;
    text-align:center;
    font-size:12px;
    transition: all .8s cubic-bezier(0,1,.5,1);
}

.introduce-product .btn-link .service a{
	background: url(../img/shopping-Cart.png) no-repeat;
	width:30px;
	height:30px;
	background-position:0 -1560px;
	display: inline-block;
}

.introduce-product .btn-link .service:hover{
	background-color:#845f3f;
	border-color: #845f3f;
	color:#fff;
}

.introduce-product .btn-link .service:hover a{
	background-position-y:-1526px;
}


/*=====================================footer===========================================*/
footer{
		width:100%;
	    padding: 45px 0;
	    height: 45px;
	    line-height: 23px;
	    border-top: 1px solid #e7e7e7;
	    background-color: #fff;
	    color: #666;
	    display: flex;
}

footer>div{
	margin: auto;
	width:1080px;
    margin: 0 auto;
	overflow: hidden;
}

footer>div>div.f-logo{width:274px;height:45px;margin-right:10px}
footer>div>div.f-logo img{width:123px;height: 45px;margin-right:25px;vertical-align:middle;}
footer>div>div.f-logo p{height:45px;line-height: 45px;color:#666;font-size: 12px;}
footer>div>div.f-info{height:45px;font-size:12px;color:#666;}
footer>div>div.f-icon{width:190px;height:36px;margin-left:10px}
footer>div>div.f-icon h1 img{width:100px;height:36px;}


