
/*====================================header=======================================*/
header{height:48px;width:100%;background:#333;}

header>div>ul{height:100%;line-height:48px;}
header>div>ul>li{height:100%;}
header>div>ul>li a{border-left:1px solid #aaa;padding:0 15px;color:#eee}
header>div>ul>li:nth-of-type(1){padding-right:15px}
header>div>ul>li:nth-of-type(1) a{border:0;padding:0}
header>div>ul>li:nth-of-type(1) span:nth-of-type(1){padding-right:5px}
header>div>ul>li:nth-of-type(3) .iconfont{font-size:18px;line-height:50%;margin-right:3px;}

/*=====================================nav======================================*/
nav{width:100%;height:56px;padding-top:20px}
nav>div{height:100%;position:relative;}
nav>div>h1{width:123px;height:51px;}
nav>div>h1>img{width:100%;height:100%;}
nav>div>ul{height:51px;margin-left:144px;line-height: 51px;}
nav>div>ul>li{height:100%;margin-right:33px;}
nav>div>ul>li>a{display:block;border-radius:10px;font-size:18px;color: #666;}
nav>div>div{width:296px;height:32px;margin-right:55px;margin-top:10px}
nav>div>div>input{
					width:100%;
					height:31px;
					border:0;
					border-bottom:1px solid #999;
					padding-left:8px;
					color:#777;

				}
nav>div>a{position:absolute;right:5px;top:15px;}
nav>div>a>i{font-size:24px;}



/*=====================================这是鼠标滑动时候nav固定的样式======================================*/
#nav-scroll{width:100%;height:56px;padding-top:0px;display:none;background:#fff;z-index: 10;border-bottom: 1px solid #ccc;}
#nav-scroll>div{height:100%;}
#nav-scroll>div>h1{width:123px;height:51px;}
#nav-scroll>div>.list-pick-goods{margin-left:10px;height: 100%;}
#nav-scroll>div>.list-pick-goods span{display:block;
							border:1px solid #ccc;
							width:60px;
							height:30px;
							line-height:30px;
							background:url(../img/css.png) 36px -1662px;
							color:#666;
							font-size:14px;
							font-weight:100;
							padding-left:8px;
							margin: 12px auto;
				}

#nav-scrollnav>div>h1>img{width:100%;height:100%;}
#nav-scroll>div>ul{height:56px;margin-left:63px;line-height: 56px;}
#nav-scroll>div>ul>li{height:100%;margin-right:33px;}
#nav-scroll>div>ul>li>a{display:block;border-radius:10px;font-size:18px;color:#666}
#nav-scroll>div>div{width:296px;height:32px;margin-right:55px;margin-top:10px}
#nav-scroll>div>div>input{
							width:100%;
							height:31px;
							border:0;
							border-bottom:1px solid #999;
							padding-left:8px;
							color:#777;
				}
#nav-scroll>div>a{position:absolute;right:5px;top:15px;}
#nav-scroll>div>a>i{font-size:24px;}
/*=========================================================================================*/

/*=====================================list-goods======================================*/
main{width:100%;height:358px;}
main>div{height:100%;}
main>div>aside{width:221px;height:358px;background:#845f3f;text-align:left;position:relative;z-index: 10;}
main>div>aside>ul{margin-top:8px;}
main>div>aside>ul>li{height:37px;width:191px;line-height:37px;padding-left:30px;}
main>div>aside>ul>li>div{display:none;width:797px;height:316px;background:#f3f0e9;position:absolute;left:221px;top:0px;z-index: 6;border:1px solid #ccc;padding: 20px 30px;overflow: scroll;}
main>div>aside>ul>li:hover>div{display: block;}




main>div>aside>ul>li>div>ul>li{line-height:40px;width:195px;height:40px;float:left;margin-bottom:30px;}
main>div>aside>ul>li>div>ul>li>a>img{width:40px;height:40px;float:left;margin-right:15px;}
main>div>aside>ul>li>div>ul>li>a>span{float:left;color:#333;}



main>div>aside>ul>li:hover{background:#684b34;}

main>div>aside>ul>li>span>a{color:#f1ede9;}
main>div>aside>ul>li>span>a:hover{color:#e4af82;}

main>div>aside>ul>li>span>span{color:#f1ede9;}

/*-----------轮播图-----------*/
main>div>#slider{width:859px;height:358px;position: relative;}
main>div>#slider>img{width:100%;height:100%;}
main>div>#slider>span{width:40px;height:40px;position:absolute;z-index:3;border-radius:50%;top:45%}

main>div>#slider>span:nth-of-type(1){
										background:url(../img/Left.png) no-repeat 7px center;
										left:10px;
										background-size:25px 25px;
										background-color:rgba(125,124,124,.3);
									}
main>div>#slider>span:nth-of-type(2){
										background:url(../img/Right.png) no-repeat 7px center;
										right:10px;
										background-size:25px 25px;
										background-color:rgba(125,124,124,.3);
									}
main>div>#slider>span:hover{cursor: pointer;background-color:#684b34;opacity: .8;}

/*=========================================adShow===========================================*/
div#adShow{background:#fff;height:350px;width:81px;position:fixed;right:10px;top:35%; box-shadow:2px 2px 20px #aaa;z-index:6;}
div#adShow>ul{height:100%;width:100%;text-align:center;}
div#adShow>ul>li{height: 53px;width:81px;padding-top:17px;position: relative;}
div#adShow>ul>li:hover>a{color:#842a1a}
div#adShow>ul>li>a{display: block;width:61px;height:100%;margin:auto;border-bottom:1px solid #ccc;}
div#adShow>ul>li>a>i{font-size:24px;}
div#adShow>ul>li>a>p{font-size:12px;margin-top:5px}
div#adShow>ul>li:nth-of-type(5)>a{border:0;}


/*---------鼠标移到侧边ad上的li上，提示的信息*/
div#adShow>ul>li>div{background:#fff;position:absolute;top:0;right:90px;display:none;padding:10px;z-index:5;border:1px solid #dfdfdf;}
div#adShow>ul>li:hover>div{display:block;}
div#adShow>ul>li:nth-of-type(1)>div{width:194px;height:234px;padding:10px 18px}
div#adShow>ul>li:nth-of-type(1)>div>p{color:#333;font-size:12px;width:100%;text-align:center;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(1){margin-top:8px;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(2){margin-top:15px;color:#845f3f;font-size:20px;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(4){margin-top:18px;}
div#adShow>ul>li:nth-of-type(1)>div>p:nth-of-type(5){margin-top:15px;color:#845f3f;font-size:20px;}

div#adShow>ul>li:nth-of-type(2)>div{width:130px;height:132px;}
div#adShow>ul>li:nth-of-type(2)>div>img{display:block;width:88px;height:88px;margin:0 auto 10px;}

div#adShow>ul>li:nth-of-type(3)>div{width:190px;height:306px;}
div#adShow>ul>li:nth-of-type(3)>div>img{display:block;}
div#adShow>ul>li:nth-of-type(3)>div>img:nth-of-type(1){width:190px;height:152px;margin:auto}
div#adShow>ul>li:nth-of-type(3)>div>img:nth-of-type(2){width:105px;height:105px;margin:15px auto}

div#adShow>ul>li:nth-of-type(4)>div{width:190px;height:164px;}
div#adShow>ul>li:nth-of-type(4)>div>img{display:block;width:120px;height:120px;margin:0 auto 10px;}
div#adShow>ul>li:nth-of-type(4)>div>p{font-size:12px}


/*====================================magic=====================================*/

#magic{height:189px;width:100%;}
#magic>div{height:100%;border-bottom:1px solid #ccc;}
#magic>div>ul{width:100%;text-align:center;margin-top:45px}
#magic>div>ul>li{width:20%;}
#magic>div>ul>li>img{width:80px;width:80px;margin:auto;}
#magic>div>ul>li>p{margin-top:20px;}


/*=================================有品推荐===================================*/
#playBox{height:380px;}
#playBox>div:nth-of-type(1){height:380px;margin-top:100px}
#playBox>div:nth-child(1)>div.first{height:74px;width:100%;}
#playBox>div:nth-child(1)>div.first>h3{line-height:74px;font-size: 28px;font-weight:100;}
#playBox>div:nth-child(1)>div.first>span{margin-left:12px;color: #999;line-height:85px;}


#playBox>div:nth-child(1)>div.first+div.big{width:537px;height:230px;position: relative;background:#f3f0e9;}
#playBox>div:nth-child(1)>div.first+div.big img{width:257;height:183px;position: absolute;right:15px;bottom:10px;}
#playBox>div:nth-child(1)>div.first+div.big p:nth-of-type(1){font-size:22px;padding-left:20px;padding-top:20px;}
#playBox>div:nth-child(1)>div.first+div.big p:nth-of-type(2){color: #999;font-size:16px;line-height:20px;height:20px;margin-top:5px;padding-left:20px;}

#playBox>div:nth-child(1)>div.first+div.big~div{width:266px;height:230px;margin-left:5px;position: relative;}
#playBox>div:nth-child(1)>div.first+div.big+div{background:rgb(234, 240, 230);}
#playBox>div:nth-child(1)>div.first+div.big+div+div{background:rgb(241, 233, 235);}

#playBox>div:nth-child(1)>div.first+div.big~div p:nth-of-type(1){font-size:22px;padding-left:20px;padding-top:20px}
#playBox>div:nth-child(1)>div.first+div.big~div p:nth-of-type(2){color: #999;font-size:16px;line-height:20px;height:20px;margin-top:5px;padding-left:20px;}
#playBox>div:nth-child(1)>div.first+div.big~div img{width:175px;height:117px;position: absolute;bottom:10px;right:35px}



/*======================================热门====================================*/
article{height:555px;background: #eee;}
article>div{height:510px;width:100%;padding-top:45px;overflow:hidden;position: relative;}

article .w .left{
					background:url(../img/Left.png) no-repeat 7px center;
					left:10px;
					background-size:25px 25px;
					background-color:rgba(125,124,124,.35);
					position: absolute;left:15px;top:40%;
					width:34px;
					height:34px;
					border-radius: 50%;
					z-index: 6;
				}
article .w .right{
					background:url(../img/Right.png) no-repeat 7px center;
					right:10px;
					background-size:25px 25px;
					background-color:rgba(125,124,124,.35;);
					position: absolute;right:15px;top:40%;
					width:34px;
					height:34px;
					border-radius: 50%;
					z-index: 6;
				}

article>div>span:hover{cursor: pointer;background-color:#842A1A;opacity:.6;}




article>div>div{width:1620px;height:414px;position:absolute;background-position-x:0;}

article>div>div>div{width:264px;height:412px;margin-right:4px;background:#fff;border:1px solid #ccc}

article>div>div>div:hover{margin-top:-2px;margin-bottom:2px;box-shadow:-2px 0px 10px #ccc,2px 0px 10px #ccc,0px -2px 4px #ccc;}



article>div>h2{width:100%;height:36px;line-height:36px;font-weight: 100;position:relative;font-size: 26px;padding:10px 0}
article>div>h2 span{color:#999;font-size:14px;font-weight: 100;}
article>div>h2 span:nth-of-type(1){margin-left:12px}
article>div>h2 a{position:absolute;right:10px;}



article>div div p{text-align: center;width:100%;}
article>div div p:nth-of-type(1){color:#333;margin-top:8px;font-size:19px;line-height:23px;height:23px}
article>div div p:nth-of-type(2){height:24px;line-height:24px;color:#999;margin-top:8px}
article>div div p:nth-of-type(3){margin-top:11px;margin-bottom:10px;height:26px;line-height:26px;color:#a92112;font-size:22px;}
article>div div img{width:100%;height:266px;margin-bottom:20px;}















#list>div{padding-top:40px;overflow:hidden;padding-bottom:10px;}
#list>div>h2{width:100%;height:36px;line-height:36px;font-weight:100;position:relative;font-size: 26px;padding:15px 0;}
#list>div>h2 span{color:#999;font-size:14px;font-weight:100;}
#list>div>h2 span:nth-of-type(1){margin-left:12px}
#list>div>h2 a{position: absolute;right:10px;}
#list>div div.l{overflow:hidden;width:266px;border-radius:10px;height:414px;margin-right:5px;margin-bottom: 8px;transition: all .33s linear;box-sizing: border-box;border: 1px solid #eee;background:#f8f8f8;;}
#list>div div.l:hover{margin-top:-25px;margin-bottom:33px;box-shadow:-13px -5px 40px #e1e2e1,10px -5px 40px #e3e3e3,0px -5px 20px #e2e3e1,0px 10px 20px #c2c3e3;}

#list>div div img{background:#fff;}
#list>div div:nth-of-type(4n){margin-right:0px;}
#list>div div span:nth-last-of-type(1){
	display: inline-block;
	width:60px;
	height:20px;
	background-color: rgb(225, 134, 98);
	padding: 0 6px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    border-radius: 2px;
    }
#list>div div span:nth-last-of-type(2){
	display: inline-block;
	width:60px;
	height:20px;
	background-color: rgb(225, 134, 98);
	padding: 0 6px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    border-radius: 2px;
    }
/*----让最下面的大盒子里面的小盒子分离*/


#list>div div p{text-align:center;width:100%;}
#list>div div p:nth-of-type(1){color:#333;margin-top:8px;font-size:19px;line-height:23px;height:23px}
#list>div div p:nth-of-type(2){height:24px;line-height:24px;color:#999;margin-top:8px}
#list>div div p:nth-of-type(3){margin-top:11px;margin-bottom:10px;height:26px;line-height:26px;color:#a92112;font-size:22px;}
#list>div div img{width:100%;height:266px;margin-bottom:20px;}
/*=====================================footer===========================================*/
footer{
		width:100%;
		margin-top: 90px;
	    padding: 45px 0;
	    height: 45px;
	    line-height: 23px;
	    border-top: 2px solid #e7e7e7;
	    background-color: #fff;
	    color: #666;
	    display: flex;
}

footer>div{
	margin: auto;
	width:1080px;
    margin: 0 auto;
	overflow: hidden;
}

footer>div>div.f-logo{width:274px;height:45px;margin-right:10px}
footer>div>div.f-logo img{width:123px;height: 45px;margin-right:25px;vertical-align:middle;}
footer>div>div.f-logo p{height:45px;line-height: 45px;color:#666;font-size: 12px;}

footer>div>div.f-info{height:45px;font-size:12px;color:#666;}

footer>div>div.f-icon{width:190px;height:36px;margin-left:10px}
footer>div>div.f-icon h1 img{width:100px;height:36px;}








