@charset "utf-8";
$publicFontSize:14px;

/*@import "common"*/

body{
		padidng:0;
		margin:0;
}
html{
		padidng:0;
		margin:0;
}  
html{
		padidng:10px;
		margin:0;
}  
html{
		padidng:10px;
		margin:0;
}  